<template>
    <div data-app>
        <v-container class="grey lighten-5">
            <div class="mb-4">
                <v-btn color="success" outlined mr-2 @click="changeLocPrefix('ru')">
                    <img v-ripple src="/../../assets/images/ru.gif" class="flag_button loc_item mr-2" alt="RU">
                    RU
                </v-btn>
                <v-btn color="success" outlined @click="changeLocPrefix('en')">
                    <img v-ripple src="/../../assets/images/en.gif" class="flag_button loc_item mr-2" alt="EN">
                    EN
                </v-btn>
            </div>
            <v-autocomplete
                    :items="Files[locPrefix]"
                    label="Файлы"
                    v-model="select"
                    :loading=loading
                    v-on:change="loadFile(select,locPrefix)">
            </v-autocomplete>
            <v-textarea :rows="15" solo :loading=loading :label=locPrefix v-model="locFile">
            </v-textarea>
            <v-btn :disabled="buttonDisabled" @click="saveFile(select,locPrefix)">Сохранить</v-btn>
            <v-snackbar
                    v-model="alert"
                    absolute
                    bottom
                    timeout="2000"
            >Сохранено
            </v-snackbar>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "V-art-crud",
        data: () => ({
            dialog: false,
            search: '',
            Files: [],
            loading: false,
            select: [],
            locFile: '',
            locPrefix: '',
            alert: false,
            buttonDisabled: true,
        }),

        created() {
            this.loadData()
        },
        watch: {
            select(select) {

            }
        },
        methods: {
            loadData() {
                axios.post('/admin/content/all', {})
                    .then((response) => {
                        this.Files = response.data.files;
                    })
            },
            loadFile(select,locPrefix) {
                if(select !== ""){
                    this.loading = true;
                    let formData = new FormData();
                    formData.append('file_name',select);
                    formData.append('prefix',locPrefix);
                    axios.post('/admin/content/load_file', formData, {})
                        .then((response) => {
                            this.locFile = response.data.file;
                            this.loading = false;
                        })
                }
            },
            saveFile(select,locPrefix) {
                if(select !== ""){
                    this.loading = true;
                    this.buttonDisabled = true;
                    let formData = new FormData();
                    formData.append('text',this.locFile);
                    formData.append('file_name',select);
                    formData.append('prefix',locPrefix);
                    axios.post('/admin/content/save_file', formData, {})
                        .then((response) => {
                            this.loading = false;
                            this.alert = true;
                            this.buttonDisabled = false;
                        })
                }
            },
            changeLocPrefix(prefix) {
                this.locFile = '';
                this.locPrefix = prefix;
                this.select = [];
                this.buttonDisabled = false;
            },
        },
    }
</script>

<style scoped>

</style>