.rubik {
    font-family: 'Rubik Mono One', sans-serif;
}
.script_header {
    font-weight: 400!important;
}
a:hover {
    text-decoration: none!important;
}
.actions-container {
    min-width: 150px;
}
.project_text {
    max-width: 100%;
    padding-left: 0;
    margin-bottom: 36px!important;
}
.img_top_right {
    object-fit: contain;
}

.desc {
    white-space: nowrap;
}

.code_menu_show {
    display: none;
}

.col_side_img {
    width: 361px;
}

.desc_bot {
    font-size: 14px;
    opacity: .75;
    line-height: 29px;
    width: 100%;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 63px;
}

.code_menu_hide {
    display: block;
}

.hire_btn_bot {
    margin-top: 10px;
    margin-left: calc(50% - 85px);
    margin-bottom: 115px;
}

.flag_button {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.flag_button_ru {
    background-color: white;
}

.flag_button_en {
    background-color: #e85662;
}

.top_menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.show_on_menu_show {
    display: none;
}

.top_overlay {
    background: url('../images/back21.jpg');
    width: 100%;
    position: absolute;
}

.localization_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.localization_container .loc_item{
    margin-left: 10px;
    color: white;
    text-decoration: none;
    opacity: .6;
    transition: opacity 0.3s;
}

.localization_container .loc_item:hover{
    opacity: 1;
}

.user-name_container {
    font-size: 18px;
    color: white;
}

.right_sidebar {
    height: 100%;
}

.project_block>img {
    width: 100%!important;
    object-fit: cover!important;
}

.name_img {
    width: 65px;
    height: 65px;
}