

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  
  background: #fff;
 
}
input[type=range]::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(0, 123, 255);
  cursor: pointer;
  margin-top: -5px;  
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(0, 123, 255);
}



input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s; 
  background: #fff;
}

 
input[type=range]::-moz-range-thumb {

   width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(0, 123, 255);
  cursor: pointer;
  margin-top: -5px;  
  border-style: none;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  
  background: #fff;
}

input[type=range]::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(0, 123, 255);
  cursor: pointer;
  margin-top: -5px;  
  border-style: none; 
}