@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------*/
/*----------------Global constants---------------------------*/
img {
  opacity: 1;
  /*transition: opacity 0.2s;*/
}

img[data-src] {
  opacity: 0;
}

.fr {
  float: none;
}

.white {
  color: #fff;
}

.mt {
  padding-top: 166px;
}

.mt_t {
  margin-top: 79px;
  /*height: 31px;*/
}

.mt_t2 {
  margin-top: 79px;
  /*height: 31px;*/
}

.mt_194 {
  margin-top: 194px !important;
}

.abs {
  position: absolute;
}

.mt_160 {
  margin-top: 160px;
}

.mt_96 {
  margin-top: 96px;
}

.mt_64_w {
  margin-top: 64px !important;
  color: #fff !important;
}

.mt_22 {
  margin-top: 22px;
}

.fs_33 {
  font-size: 33px;
}

.mt_104 {
  margin-top: 104px !important;
}

.mg_0 {
  margin: 0px !important;
  min-height: 0px;
}

.prz {
  padding-right: 10px !important;
}

.mb_0 {
  margin-bottom: 0px;
}

.flip-horizontal {
  transform: scale(-1, 1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH";
}

.am {
  vertical-align: middle !important;
}

th {
  padding-left: 20px;
}

/*----------------Main---------------------------*/
@font-face {
  font-family: "Raleway", sans-serif;
}
html,
body {
  font-family: "Raleway", sans-serif;
}

.top_block {
  position: relative;
  overflow: hidden;
  background: url(/images/back212.png?17ff2e1d33ab8c4e71a63b123457945f);
  background-position: center center !important;
  background-size: cover !important;
  background-color: #353541 !important;
}

.carousel {
  position: absolute;
}

.pict {
  height: 720px;
  margin-left: -130px;
}

#name-container {
  border-top: 2px solid #fb6470;
  border-bottom: 2px solid #fb6470;
  /*width: 327px;*/
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  line-height: 56.48px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-top: 193px;
  text-align: center;
  margin-left: -15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.desc {
  display: inline-block;
  height: 19px;
  padding-left: calc(50% - 170px);
  margin-top: 14px;
  padding-bottom: 43px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: -15px;
  text-align: center;
}

.dark-blue-text > i {
  transition: ease-out 1s;
}

.dark-blue-text > i:hover {
  color: white;
}

.hire_btn {
  padding: 0px;
  font-size: 22px;
  font-weight: 500;
  line-height: 36.48px;
  margin-left: 100px;
  width: 170px;
  height: 49px;
  margin-bottom: 194px;
}

.fa-1x {
  font-size: 1.5rem;
}

.top_menu {
  background: none;
}

.navbar-toggler > span > i {
  color: #fb6470;
}

.toggler-example {
  margin-top: 41px;
  margin-left: -28px;
}

.toggler-example:focus {
  border-color: transparent;
  outline-color: transparent;
}

.img_top_right {
  display: block;
  max-height: 526px;
  margin-top: -88px;
  position: absolute;
  bottom: 0px;
}

.about_wrap {
  background-color: #f9f9f9;
}

.about {
  background-color: #ffffff;
  color: #3e3e3e;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.about_first {
  font-weight: 600;
}

.about:last-child {
  border: none;
}

.about_p {
  opacity: 0.8;
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 21px;
  margin-top: 33px;
}

.line {
  width: 76px;
  height: 2px;
  background-color: #fb6470;
  margin-top: 18px;
}

.block_header {
  color: #3e3e3e;
  font-size: 32px;
  font-weight: 600;
  display: block;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.info_block_r {
  background-color: #353541;
  margin-top: 143px;
  position: relative;
  border-radius: 10px;
  padding: 21px 21px 21px 21px;
  color: #ffffff;
}

.info_block_r::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 106px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 18px;
  border-top-width: 20px;
  border-left: 60px solid #353541;
  z-index: -2;
}

.info_block_l {
  background-color: #353541;
  margin-top: 47px;
  position: relative;
  border-radius: 10px;
  padding: 21px 21px 21px 21px;
  color: #ffffff;
}

.info_block_l::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 3px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 18px;
  border-top-width: 20px;
  border-right: 60px solid #353541;
  z-index: -2;
}

.name {
  font-size: 22px;
  font-weight: 500;
}

.email {
  opacity: 0.8;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 27px;
  display: none;
}

.date {
  margin-top: 8px;
  display: block;
  color: #fb6470;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.text {
  margin-top: 9px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.62px;
}

.info_block_inner {
  height: 105px;
}

.circle {
  width: 42px;
  height: 42px;
  border: 2px solid #000000;
  background-color: #f9f9f9;
  border-radius: 50%;
  position: relative;
}

.circle > .circle_inner {
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  background-color: #fb6470;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
}

.vertical_line {
  width: 2px;
  height: 500px;
  background-color: #353541;
}

.line_wrap {
  width: 36px;
  padding-left: 20px;
  position: absolute;
  top: 89px;
  z-index: -2;
}

.scheme_mid {
  padding-left: calc(50% - 21px);
  margin-top: 47px;
  width: 100%;
}

.line2 {
  margin-top: 80px;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.1;
}

.line4 {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: #000000;
  opacity: 0.1;
  display: none;
}

.myskills {
  margin-top: 80px;
  width: 100%;
  background: #1d1d24;
}

.load_span {
  margin-top: 44px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.load_line {
  height: 5px;
  background-color: #bbbbbd;
  position: relative;
}

.percent_load {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 70px;
}

.load_fill {
  width: 0%;
  height: 6px;
  background-color: #fb6470;
}

.load_circle {
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  left: -9px;
  top: -7px;
  background-color: #e85662;
}

.load_line:last-child {
  margin-bottom: 71px;
}

.leave_message {
  margin-top: 104px;
  display: block;
  color: #3e3e3e;
  font-size: 22px;
  font-weight: 500 !important;
}

#FormControlTextarea1 {
  margin-top: 148px;
  overflow-y: scroll-hidden;
  resize: none;
}

.hire_me {
  border-radius: 0px;
  margin-right: 0px;
}

.contact_holder {
  display: table;
  margin-top: 38px;
}

.icon_wrap {
  display: table-cell;
  min-width: 95px;
  height: 56px;
  vertical-align: middle;
}

.icon_wrap > img {
  height: 38px;
  width: 38px;
}

.contact_info {
  margin-left: 0px;
  display: table-cell;
  color: #3e3e3e;
  font-size: 22px;
  font-weight: 600;
  display: block;
  line-height: 25px;
}

.contacts_small_text {
  margin-top: 22px;
  color: #3e3e3e;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.8;
}

.contacts_bottom {
  padding-bottom: 30px;
  color: #3e3e3e;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  font-weight: 600;
}

.icon_div > a > img {
  margin-top: 36px;
  width: 21px;
  height: 16px;
  display: inline-block;
}

.icon_div {
  margin-bottom: 16px;
}

.gray_line {
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;
  width: 2px;
  height: 18px;
  background-color: #b1b1b1;
}

body {
  position: relative;
  overflow-x: hidden;
}

.right_sidebar {
  background: #353541;
  height: auto;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  position: fixed;
  display: none;
  z-index: 999999;
}

.side_img {
  padding-left: 30px;
  height: 221px;
  background: url(/images/menu2.jpg?0f9dafba952912fb9512cb9763ec1dd0);
  background-size: cover;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  line-height: 36.48px;
}

.side_img_text {
  padding-top: 121px;
  padding-bottom: 14px;
  padding-right: 30px;
}

.side_img_text > span {
  font-size: 16px;
}

.menu_option {
  color: #fff;
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 22px;
  background: #353541;
  border-bottom: 1px solid rgba(19, 19, 33, 0.7);
  padding-left: 30px;
  padding-right: 30px;
}

.menu_option:hover {
  cursor: pointer;
  background: #d55b67;
}

.right_sidebar > i {
  margin-left: 30px;
  display: block;
  color: #d55b67;
  margin-top: 35px;
  position: absolute;
  transition: all 1s 0.1s ease-in;
}

.right_sidebar > i:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

.right_sidebar > a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 2s all ease-out;
  -webkit-transition: 2s all ease-out;
  -webkit-transition: 2s all ease-out;
}

.active_option {
  text-decoration: none;
  background: #d55b67;
}

.big_offset {
  position: relative;
}

.line3 {
  margin-top: 70px;
  width: 100%;
  display: block;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 9px;
  position: relative;
  margin-bottom: 48px;
}

.line3:after {
  position: absolute;
  content: "";
  width: 25%;
  border-bottom: solid 2px #fb6470;
  padding-bottom: 9px;
}

.line3 > ul > li {
  color: #3e3e3e;
  font-size: 18px;
  list-style: none;
  display: inline-block;
  padding-left: 16%;
  font-weight: 500;
}

.i_used {
  list-style-type: square;
  list-style-position: inside;
}

#first_elem {
  padding-left: 10%;
}

.project_block {
  margin-top: 30px;
  color: #ffffff;
  font-size: 22px;
  height: 352px;
  background-color: #01b9c3;
}

.col-md-6:nth-child(2n) > .project_block {
  background-color: #3f3d3e;
}

.col-md-6:nth-child(4n) > .project_block {
  background-color: #6176ab;
}

.project_block > img {
  height: 62%;
}

.project_block_inner {
  padding: 17px;
  height: 90px;
}

.project_block_inner > span {
  display: block;
  padding-top: 11px;
  font-size: 16px;
  opacity: 0.8;
}

.project_block > a {
  color: #fff;
  display: block;
  font-size: 14px;
  padding-bottom: 17px;
  margin-left: 17px;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  border-bottom: solid 1px #fff;
  height: 20px;
  opacity: 0.5;
}

.project_block > a:hover {
  opacity: 1;
  text-decoration: none;
}

.img-fluid {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}

#button_comments {
  margin-top: 80px;
  text-align: center;
  border-radius: 0px;
  margin-right: 0px;
  padding: 16px 23px 16px 23px;
  border: none;
  width: 170px;
}

#Show_all {
  margin-top: 50px;
  display: block;
  font-size: 18px;
  font-style: italic;
  color: #666666;
}

#Show_all:hover {
  color: #222222;
  opacity: 0.2;
  cursor: pointer;
}

#comments_wrap {
  overflow: hidden;
}

.comment_inner {
  margin-top: 46px;
}

.avatar {
  height: 76px;
  width: 80px;
  margin-right: 20px;
  float: left;
}

.com_nick {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  width: 100vw;
  z-index: 999999;
}

.com_nick > span {
  width: 100vw;
  margin-left: 12px;
  opacity: 0.8;
  color: #333333;
  font-size: 14px !important;
  font-weight: 400;
}

#arrow {
  font-size: 20px;
  padding-right: 5px;
}

.face {
  width: 50px;
  height: 50px;
  right: 120px;
  top: -10px;
  display: inline-block;
  position: absolute;
}

.com_text {
  width: 80vw;
  line-height: 26px;
  margin-top: 12px;
  opacity: 0.8;
  color: #222222;
  font-size: 16px;
  z-index: 999999;
  word-wrap: break-word;
}

.reply {
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 13px;
}

#FormControlTextarea2 {
  margin-top: 13px;
  overflow-y: scroll-hidden;
  resize: none;
}

.form-control {
  font-weight: 300;
}

.sub_comment_btn {
  border-radius: 0px;
  background: #333333;
  width: 100%;
  margin-top: -3px;
  border-color: #333333;
}

.submit_comment {
  margin-top: 48px;
}

#to_top {
  bottom: 0;
  cursor: pointer;
  display: none;
  font-size: 150%;
  position: fixed;
  padding-left: 2%;
  z-index: 99999;
  opacity: 0.8;
  transition: 0.5 ease-out;
  color: #cccccc;
  right: 0px !important;
  padding-right: 2% !important;
}

#to_top:hover {
  opacity: 1;
}

.flexed {
  display: flex;
  margin-top: 73px;
  padding-right: 15px;
  padding-left: 15px;
}

.max_width_768 {
  display: none;
}

.gal_img:hover {
  /*
  -webkit-box-shadow: 2px 2px 9px -1px rgba(11,27,27,1);
  -moz-box-shadow: 2px 2px 9px -1px rgba(11,27,27,1);
  box-shadow: 2px 2px 9px -1px rgba(11,27,27,1);
  */
}

.gal_img {
  transition: 0.2s ease-out;
  width: 105px;
  height: 105px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project_text {
  font-size: 18px;
  margin-top: 23px;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 27px;
  margin-bottom: 23px;
}

.project_text2 {
  font-size: 18px;
  margin-top: 23px;
  line-height: 27px;
  margin-bottom: 23px;
}

.col_side_img {
  width: 450px;
  float: right !important;
}

.audioinfo {
  margin-left: 20px;
  font-size: 20px;
}

.audio_cover {
  -o-object-fit: cover;
     object-fit: cover;
  width: 75px;
  height: 80px;
  float: left;
  text-indent: 0px;
  display: none;
}

#play-pause {
  padding: 0 !important;
  position: relative;
  text-align: center;
  font-size: 40px;
  width: 75px;
  height: 80px;
  border-radius: 0px;
  float: left;
  text-indent: 0px;
  background-size: cover;
  background-position: center, center;
  transition: ease 0.2s;
  border-width: 0px !important;
  border-style: none !important;
  border: none !important;
  -o-border-image: none !important;
     border-image: none !important;
}

#play-pause:active {
  border-width: 0px !important;
  border-style: none !important;
  border: none !important;
  -o-border-image: none !important;
     border-image: none !important;
}

#play-pause:focus, #play-pause:active {
  outline: none !important;
  box-shadow: none !important;
}

#play-pause:hover > .ppp {
  opacity: 1;
  cursor: pointer;
}

#play-pause:hover {
  background: white !important;
}

#play-prev {
  text-align: center;
  font-size: 20px;
}

#play-next {
  text-align: center;
  font-size: 18px;
}

.pp {
  font-family: Raleway;
  margin-left: 10px;
  font-weight: 400;
}

.audio_player {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #404040;
  width: 100%;
}

.table-hover:hover {
  cursor: pointer;
}

.topWindow {
  position: fixed;
  top: 0;
  z-index: 9999;
}

#waveform {
  padding-top: 5px;
  padding-bottom: 5px;
}

.track_name {
  color: #fff;
  max-width: 65%;
}

.track_name_wrap {
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
  position: relative;
}

.time {
  top: 0px;
  right: 10px;
  position: absolute;
  font-size: 100%;
  color: #fff;
  font-weight: 400;
}

.genere {
  font-size: 12px;
  color: #fff;
  margin-top: 4px;
}

.genere2 {
  font-size: 13px;
  margin-top: 4px;
}

.volbox {
  position: absolute;
  width: 75px;
  bottom: -12px;
  right: 0px;
}

#next_song:hover {
  cursor: pointer;
  color: #fff !important;
}

#prev_song:hover {
  cursor: pointer;
  color: #fff !important;
}

.golden {
  color: #ffe41b;
}

.gray_clay {
  color: #ffdb58;
}

.halfstar {
  position: absolute;
  left: -1px;
}

.star_container {
  position: relative;
}

.name_img {
  width: 50px;
  height: 50px;
  border-radius: 5%;
  margin-right: 3px;
  margin-left: 7px;
}

.ppp {
  width: 60px;
  height: 60px;
  opacity: 0;
}

.in_text_img {
  width: 150px;
  height: 150px;
  float: left;
}

.text_block {
  margin-top: 23px;
  line-height: 27px;
  font-size: 18px;
}

.scriptimg {
  margin-left: -6px;
}

.script_header {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.script_time {
  font-size: 18px;
  opacity: 0.8;
  font-weight: 400;
}

#name-container {
  width: 370px;
}

.desc {
  width: 370px;
}

.icon_prod {
  width: 20px;
  height: 20px;
}

.dots {
  text-align: center;
  font-size: 24px;
  display: block;
}

#vol_icon {
  left: -20px;
  top: 27px;
  position: absolute;
  color: #fff;
  font-size: 15px;
}

.slider_cover {
  position: absolute;
  top: 0px;
  overflow: hidden;
  left: -200px;
}

.restricted {
  overflow: hidden;
}

#Show_all_img {
  margin-top: 20px;
  display: block;
  font-size: 18px;
  font-style: italic;
  color: #666666;
}

#Show_all_img:hover {
  color: #222222;
  opacity: 0.2;
  cursor: pointer;
}

.carousel-item {
  z-index: 99999999;
}

.audio_player_returner {
  right: -100px;
  top: calc(50% - 6px);
  position: fixed;
  width: 50px;
  height: 50px;
  background: #404040;
  z-index: 999999;
  border-radius: 5% 0 0 5%;
  padding-top: 6px;
  padding-left: 6px;
  font-size: 24px;
  color: #fff;
}

.audio_player_returner > img {
  width: 38px;
  height: 38px;
  opacity: 0.5;
}

.table {
  padding-left: 20px;
}

.audio_player_returner > img:hover {
  cursor: pointer;
  opacity: 1;
}

.track_loading {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  color: white;
  opacity: 0;
}

.loading_gif {
  width: 100%;
  height: 100%;
}

.baguetteBox-button:focus {
  text-decoration: none;
  border: none;
  outline: none;
}

.baguetteBox-button:active {
  text-decoration: none;
  border: none;
  outline: none;
}

.baguetteBox-button:visited {
  text-decoration: none;
  border: none;
  outline: none;
}

.gallery a:hover {
  text-decoration: none;
  border: none;
}

.gallery a:focus {
  text-decoration: none;
  border: none;
  outline: none;
}

.gallery a:active {
  text-decoration: none;
  border: none;
}

.gallery a:visited {
  text-decoration: none;
  border: none;
}

.gallery img:hover {
  text-decoration: none;
  border: none;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 1px outset #007bff;
}

.gallery gal_img:focus {
  text-decoration: none;
  border: none;
}

.gallery img:active {
  text-decoration: none;
  border: none;
}

.gallery img:visited {
  text-decoration: none;
  border: none;
}

.first_cell {
  width: 50px;
  height: 50px;
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
td {
  height: 80px;
  vertical-align: middle !important;
}

.audio_player_ie {
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: none;
}

.video_helper {
  font-size: 16px;
}

@media (max-width: 1230px) {
  .car {
    display: none !important;
  }

  .max_width_1230 {
    display: block;
  }

  .line3 {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .img_top_right {
    height: 450px;
    margin-top: 60px;
  }
}
@media (max-width: 1130px) {
  .text {
    font-size: 12px;
  }

  .about {
    font-size: 14px;
  }

  .img_top_right {
    margin-top: 60px;
    height: 400px;
  }
}
@media (max-width: 992px) {
  .line4 {
    display: block;
  }

  .big_offset {
    position: static;
  }

  .max_width_768 {
    display: block;
  }

  .right_sidebar {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 999;
  }

  .about {
    font-size: 18px !important;
  }

  #to_top {
    right: 0px !important;
    padding-right: 2% !important;
  }

  .img_top_right {
    height: 350px;
    margin-top: 7% !important;
  }

  .info_block_inner {
    height: -webkit-fit-content;
    height: fit-content;
    height: -moz-fit-content;
  }

  .com_nick > span {
    margin-left: 0px;
    display: block;
    margin-top: 5px;
  }

  .fr {
    float: none;
  }

  .face {
    display: none;
  }

  .volbox {
    position: absolute;
    width: 70px;
    bottom: -13px;
  }

  .audio_cover {
    display: none;
  }

  .percent_load {
    display: none;
  }

  .genere {
    font-size: 8px;
    display: none !important;
  }

  .track_name {
    font-size: 10px;
    display: inline-block;
    height: 10px;
  }

  .contact_holder {
    display: block;
  }

  .name_img {
    display: none;
  }

  #volume {
    margin-bottom: 2px;
  }

  #FormControlTextarea1 {
    margin-top: 170px;
  }
}
@media (max-width: 767px) {
  .hire_btn {
    margin-left: calc(50% - 85px);
  }

  #name-container {
    font-size: 44px;
    width: auto !important;
  }

  .desc {
    width: auto !important;
  }

  .col_side_img {
    display: none !important;
  }

  .top_block {
    background-image: none !important;
  }

  #FormControlTextarea1 {
    margin-top: 23px !important;
  }

  .scheme_mid {
    display: none;
  }

  .email {
    display: inline-block !important;
  }

  .info_block_r::after {
    display: none;
  }

  .info_block_l::after {
    display: none;
  }

  .info_block_r {
    margin-top: 20px;
  }

  .info_block_l {
    margin-top: 20px;
  }

  .mt_194 {
    margin-top: 20px !important;
  }

  #to_top {
    right: 0px !important;
    padding-right: 2% !important;
    bottom: 60px;
  }

  .img_top_right {
    height: 475px;
    position: static;
  }
}
@media (max-width: 460px) {
  .desc {
    padding-left: calc(50% - 136px);
    font-size: 16px !important;
  }

  td {
    height: 80px;
    vertical-align: middle !important;
  }

  .invisible_year {
    display: none;
  }

  .email {
    display: none !important;
  }

  .info_block_inner {
    height: -webkit-fit-content;
    height: fit-content;
    height: -moz-fit-content;
  }

  .gal_img {
    width: 95px;
    height: 95px;
  }

  #star_line {
    display: block;
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .side_img_text {
    font-size: 20px;
  }

  .img_top_right {
    height: 326px;
  }

  #name-container {
    font-size: 20px;
  }

  .desc {
    opacity: 0;
  }
}
@-moz-document url-prefix() {
  #vol_icon {
    display: none;
  }

  #volume {
    margin-bottom: 7px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .info_block_inner {
    display: table;
  }

  .img-fluid {
    display: table;
  }

  .project_block > a {
    display: table;
  }

  .right_sidebar {
    display: table;
  }

  #audio_page {
    display: none;
  }

  .audio_player_ie {
    display: block;
  }

  .invisible_year {
    display: none;
  }

  .prz {
    display: none;
  }

  .audiojs {
    background: transparent;
    font-family: Raleway;
    background-image: none;
    box-shadow: none;
    border: none;
  }

  .name_t {
    position: relative;
  }

  .audio_player_ie {
    position: absolute;
    right: -50%;
    top: 25px;
  }

  .audiojs .time {
    color: #333333;
    border: none;
    position: static;
    box-shadow: none;
    text-shadow: none;
  }

  .audiojs .time em {
    color: #333333;
    border: none;
    box-shadow: none;
  }

  .audiojs .time strong {
    color: #333333;
    border: none;
    box-shadow: none;
  }

  .audiojs .play-pause {
    border: none;
    color: black;
  }

  .audiojs .scrubber {
    background: white;
    border: none;
    border-style: none;
  }

  .audiojs .progress {
    background: #007bff;
    border: none;
    border-radius: 0px;
    border-style: none;
  }

  .audiojs .loaded {
    background: #cccccc;
    border: none;
  }
}
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
  .info_block_inner {
    display: table;
  }

  .img-fluid {
    display: table;
  }

  .project_block > a {
    display: table;
  }

  .ppp {
    width: 58px;
    height: 58px;
  }
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
}

input[type=range]::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  margin-top: -5px;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #007bff;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
}

input[type=range]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  margin-top: -5px;
  border-style: none;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
}

input[type=range]::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  margin-top: -5px;
  border-style: none;
}

.rubik {
  font-family: "Rubik Mono One", sans-serif;
}

.script_header {
  font-weight: 400 !important;
}

a:hover {
  text-decoration: none !important;
}

.actions-container {
  min-width: 150px;
}

.project_text {
  max-width: 100%;
  padding-left: 0;
  margin-bottom: 36px !important;
}

.img_top_right {
  -o-object-fit: contain;
     object-fit: contain;
}

.desc {
  white-space: nowrap;
}

.code_menu_show {
  display: none;
}

.col_side_img {
  width: 361px;
}

.desc_bot {
  font-size: 14px;
  opacity: 0.75;
  line-height: 29px;
  width: 100%;
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 63px;
}

.code_menu_hide {
  display: block;
}

.hire_btn_bot {
  margin-top: 10px;
  margin-left: calc(50% - 85px);
  margin-bottom: 115px;
}

.flag_button {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.flag_button_ru {
  background-color: white;
}

.flag_button_en {
  background-color: #e85662;
}

.top_menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.show_on_menu_show {
  display: none;
}

.top_overlay {
  background: url(/images/back21.jpg?ddc9c6395e2dc81b00375175cb5c61c8);
  width: 100%;
  position: absolute;
}

.localization_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.localization_container .loc_item {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.localization_container .loc_item:hover {
  opacity: 1;
}

.user-name_container {
  font-size: 18px;
  color: white;
}

.right_sidebar {
  height: 100%;
}

.project_block > img {
  width: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.name_img {
  width: 65px;
  height: 65px;
}