<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-title card-header">Категории ({{categories.length}})</h5>
                <ul class="list-group list-group-flush">
                    <li v-if="loading" class="list-group-item">
                        <div class="d-flex align-items-center">
                            <strong>Loading...</strong>
                            <div class="spinner-border ml-auto text-primary" role="status" aria-hidden="true"></div>
                        </div>
                    </li>
                    <li v-if="!loading" class="list-group-item" v-for="category in categories">
                            <span class="badge badge-primary badge-pill mr-4">
                                {{category.web_count}}
                            </span>
                        {{category.category}}
                        <a href="#" @click="remove(category.id)" class="btn btn-danger float-right">
                            <i class="fas fa-minus-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-primary mr-2" v-if="!formVisible"  @click="showForm()">
                    <i class="fas fa-plus-square mr-2"></i>
                    Добавить категорию
                </button>
                <form class="form-inline" v-if="formVisible" id="categoryForm" @submit.prevent="save()">
                    <div class="form-group mr-4">
                        <label for="ic" class="sr-only">Категория</label>
                        <input type="text" name="category" class="form-control" id="ic" placeholder="Категория">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2" v-on:submit="save()">Добавить</button>
                    <button class="btn btn-primary" @click="showForm()">Отмена</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        methods: {
            showForm() {
                this.formVisible == false ? this.formVisible = true : this.formVisible = false;
            },
            loadData() {
                this.loading = true;
                axios.get('/admin/web_category', {})
                    .then((response) => {
                        this.categories = response.data.web_categories;
                        this.loading = false;
                    })
            },
            save() {
                let formData = new FormData(document.forms.namedItem("categoryForm"));
                axios.post('/admin/web_category', formData, {})
                    .then((response) => {
                        this.loadData();
                    });
            },
            remove(id) {
                axios.delete('/admin/web_category/'+id)
                    .then((response) => {
                        location.reload();
                        //this.loadData();
                    });
            }
        },
        created() {
            this.loadData();
        },
        data() {
            return {
                categories: [],
                formVisible: false,
                loading: true,
            }
        },

    }
</script>
