<template>
    <div class="mb-4 card" data-app>
        <v-data-table
                dense
                :loading="loading"
                :headers="headers"
                :search="search"
                :items="arts"
                class="elevation-0"
        >
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <!--<v-toolbar-title>Art CRUD</v-toolbar-title>-->
                    <!--<v-divider-->
                    <!--class="mx-4"-->
                    <!--inset-->
                    <!--vertical-->
                    <!--&gt;</v-divider>-->
                    <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Поиск"
                            single-line
                            hide-details
                    ></v-text-field>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-btn text v-on="on">
                                <i class="fas fa-plus-square mr-2"></i>Новый арт
                            </v-btn>
                        </template>
                        <v-card>
                            <v-container>
                                <v-card-title>
                                    <span class="headline">{{ formTitle }}</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-img v-if="editedItem.image" id="prevImg"
                                                   :src="'/storage/'+editedItem.image"></v-img>
                                            <v-text-field v-model="editedItem.title"
                                                          label="Название"></v-text-field>
                                            <v-autocomplete
                                                    v-model="editedItem.category"
                                                    :items="categories"
                                                    item-text="category"
                                                    label="Категория"
                                                    return-object
                                                    clearable
                                            ></v-autocomplete>
                                            <v-textarea v-model="editedItem.text"
                                                        label="Описание">
                                            </v-textarea>
                                            <!--<v-file-input-->
                                                    <!--v-if="editedIndex === -1"-->
                                                    <!--id="imgInput"-->
                                                    <!--label="Арт"-->
                                            <!--&gt;</v-file-input>-->
                                            <input  v-if="editedIndex === -1"
                                                    type="file"
                                                    id="imgInput"
                                            >
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                    <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                                </v-card-actions>
                            </v-container>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <button class="btn btn-primary mr-2" role="button" @click="editItem(item)"
                        aria-pressed="true">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" role="button" @click="deleteItem(item)">
                    <i class="fas fa-minus-square"></i>
                </button>
            </template>
            <!--<template v-slot:no-data>-->
            <!--<v-btn color="primary" @click="loadData">Reset</v-btn>-->
            <!--</template>-->
            //img
            <template v-slot:item.imagePrev="{item}">
                <v-avatar tile size="120">
                    <img style="object-fit: scale-down;" :src="'/storage/'+item.image"/>
                </v-avatar>
            </template>
            //image url
            <template v-slot:item.image="{item}">
                <div style="max-width: 120px">
                    <small>{{item.image}}</small>
                </div>
            </template>
        </v-data-table>
    </div>
</template>

<script>

    export default {
        name: "V-art-crud",
        data: () => ({
            dialog: false,
            search: '',
            headers: [
                {
                    text: 'Название',
                    align: 'start',
                    sortable: false,
                    value: 'title',
                },
                {text: 'Картинка', value: 'imagePrev'},
                {text: 'Текст', value: 'text'},
                {text: 'Категория', value: 'category.category'},
                {text: 'Путь', value: 'image'},
                {text: 'Дата изменения', value: 'updated_at'},
                {text: 'Actions', value: 'actions', sortable: false},
            ],
            arts: [],
            categories: [],
            editedIndex: -1,
            editedItem: {
                title: '',
                image: '',
                text: '',
                category: '',
            },
            defaultItem: {
                title: '',
                image: '',
                text: '',
                category: '',
            },
            loading: true,
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Новый рисунок' : 'Редактировать рисунок'
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
        },

        created() {
            this.loadData()
        },

        methods: {
            loadData() {
                this.loading = true;
                axios.post('/admin/art/all', {})
                    .then((response) => {
                        this.arts = response.data.arts;
                        this.categories = response.data.categories;
                        this.loading = false;
                    })
            },

            editItem(item) {
                this.editedIndex = this.arts.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },

            deleteItem(item) {
                console.log(item);
                const index = this.arts.indexOf(item);
                axios.delete('/admin/art/' + item.id)
                    .then((response) => {
                        this.arts.splice(index, 1);
                    });
            },

            close() {
                this.dialog = false;
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1
                })
            },

            save() {
                this.loading = true;
                let form = new FormData();
                form.append('title', this.editedItem.title);
                form.append('text', this.editedItem.text);
                form.append('category_id', (this.editedItem.category || {}).id || '');
                if (this.editedIndex > -1) {
                    form.append('_method', 'PATCH');
                    axios.post('/admin/art/' + this.editedItem.id, form, {})
                        .then((response) => {
                            // Object.assign(this.arts[this.editedIndex], this.editedItem)
                            this.loadData();
                        });
                } else {
                    form.append('image', document.getElementById('imgInput').files[0]);
                    axios.post('/admin/art', form, {})
                        .then((response) => {
                            this.loadData();
                        });
                }
                this.loading = false;
                this.close();
            },
        },
    }
</script>

<style scoped>
</style>