<template>
    <div class="container">
        <div class="plr">
            <div class="row">
                <div class="col-md-12">
                  <span class="block_header fr" v-if="totalRate">
                      <div style="display: inline-flex" class="mr-2">
                           <i v-for="i in Math.floor(totalRate)" class="fas fa-star golden"></i>
                            <i v-for="i in (5-Math.floor(totalRate))" class="far fa-star golden"></i>
                      </div>
                      {{totalRate}}/5
                  </span>
                    <span class="block_header fr" v-if="!totalRate">
                      <span>
                           <i class="far fa-star"></i>
                      </span>
                      Без оценки
                  </span>
                </div>
            </div>
            <div class="btn btn-dark"
                 id="button_comments"
                 data-toggle="collapse"
                 href="#comments_wrap"
                 role="button"
                 @click="collapse1 = !collapse1"
                 aria-expanded="true"
                 aria-controls="comments_wrap">
                <i class="inselector" v-if="comments.length > 0">
                    <i v-if="collapse1"
                       class="inselector fa fa-sort-up">
                    </i>
                    <i v-if="!collapse1"
                       class="inselector fa fa-sort-down">
                    </i>
                </i>
                Комментарии ({{comments.length}})
            </div>
            <div id="comments_wrap" v-if="comments.length > 0" class="collapse show">
                <div class="row com_pointer col-md-12">
                    <div>
                        <div v-for="(comment, index) in comments" v-if="index<3" class="comment_inner">
                            <vuetify-lazy-image :src="'/assets/images/avatar/'+comment.avatar" class="avatar" alt="avatar"/>
                            <div class="com_nick">{{ comment.name}}
                                <span v-if="comment.rate"><i class="fas fa-star"></i> {{comment.rate}}/5</span>
                                <span>{{comment.created_at}}</span>
                            </div>
                            <div class="com_text">{{comment.text}}</div>
                        </div>
                    </div>
                    <!-- >3 comments-->
                    <div v-if="comments.length >= 3" style="margin-top: -20px">
                        <div class="collapse" id="collapse2">
                            <div v-for="(comment, index) in comments" v-if="index>=3" class="comment_inner">
                                <vuetify-lazy-image :src="'/assets/images/avatar/'+comment.avatar" class="avatar" alt="avatar"/>
                                <div class="com_nick">{{ comment.name}}
                                    <span v-if="comment.rate"><i class="fas fa-star"></i> {{comment.rate}}/5</span>
                                    <span>{{comment.created_at}}</span>
                                </div>
                                <div class="com_text">{{comment.text}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-md-1" v-if="comments.length > 3">
                            <span id="Show_more"
                                  data-toggle="collapse"
                                  href="#collapse2"
                                  @click="collapse2 = !collapse2"
                                  role="button"
                                  aria-expanded="false"
                                  aria-controls="collapseExample">
                                <span v-if="collapse2">
                                    Показать все
                                </span>
                                <span v-if="!collapse2">
                                    Скрыть некоторые
                                </span>
                            <i class="far fa-eye"></i></span>
                    </div>
                </div>
            </div>

            <div class="submit_comment">
                <form id="com_validate" name="commentForm">
                    <div class="form-row">
                        <div class="col-md-6">
                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   id="CommentName"
                                   placeholder="Имя*"
                                   v-model="name"
                                   required>
                            <div v-if="errors.name" class="alert alert-danger mt-2" role="alert">
                                {{errors.name}}
                            </div>

                            <div class="form-group">
                                    <textarea
                                            class="form-control"
                                            id="FormControlTextarea2"
                                            rows="6"
                                            placeholder="Коммент*"
                                            name="text"
                                            v-model="text"
                                            required></textarea>
                                <div v-if="errors.text" class="alert alert-danger mt-2" role="alert">
                                    {{errors.text}}
                                </div>
                            </div>


                            <div class="form-group">
                                <select class="custom-select" id="rate" required>
                                    <option value="">Оцените данный раздел</option>
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                </select>
                                <!--<div class="invalid-feedback">Поставьте оценку!</div>-->
                            </div>
                            <button @click="addComment()" :disabled="invalid" type="button" id="Add_comment_button" class="btn btn-dark sub_comment_btn">
                                Отправить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import VuetifyLazyImage from "vuetify-lazy-image";

    export default {
        components: {
            VuetifyLazyImage,
        },
        name: "CommentForm",
        props: ['link_id'],
        computed: {
            invalid() {
                if(this.checkForm()){
                    return false;
                }
                else {
                    return true;
                }
            },
        },
        methods: {
            checkForm: function (e) {
                if (this.name && this.text) {

                    this.errors = [];
                    if (this.name.length > 18) {
                        this.errors.name = 'Имя не может быть больше 18 символов!';
                        return false;
                    }
                    if (this.text.length > 350) {
                        this.errors.text = 'Комментарий не может быть больше 350 символов!';
                        return false;
                    }

                    return true;
                }
            },
            getComments: function () {
                axios.get('/comments/' + this.linkId, {})
                    .then((response) => {
                        this.comments = response.data.comments;
                        this.totalRate = response.data.total_rate;
                    })
            },
            addComment: function () {
                if (this.invalid) return false;
                this.commDisabled = true;
                var formData = new FormData(document.forms.namedItem("commentForm"));
                formData.append('rate', $('#rate option:selected').val());
                formData.append('link_id', this.linkId);
                axios.post('/add_comment', formData, {})
                    .then((response) => {
                        this.getComments();
                        swal({
                            title: "Спасибо за ваше сообщение.",
                            text: "Я обязательно его прочту!",
                            icon: "success",
                            button: "OK",
                        });
                        this.commDisabled = false;
                    });
            },
            deleteComment: function (comment_id) {

            },

        },
        created() {
            // this.user = this.data;
            this.linkId = this.link_id;
            this.getComments();

        },
        data() {
            return {
                name: null,
                text: null,
                linkId: "",
                errors: [],
                chatLoading: false,
                comments: [],
                likeDisabled: true,
                commDisabled: true,
                totalRate: '',
                collapse1: true,
                collapse2: true,
            }
        },
    }
</script>

<style scoped>

</style>