<template>
    <div class="block mt-5">
        <h3><i class="far fa-file-excel"></i> XLS-vk-parser</h3>
        <div class="custom-file pt-2">
            <div class="custom-file">
                <input type="file"
                       name="customFile"
                       class="custom-file-input"
                       id="fileInput"
                       @change="showFile"
                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                <label class="custom-file-label" for="fileInput">{{lFileName}}</label>
            </div>
            <button v-if="lFileName !== 'Choose file'" class="upload_files button btn btn-primary mt-2" :disabled="loading" type="button" @click="loadFile">
                <span class="isLoading spinner-border spinner-border-sm" v-if="loading" role="status" aria-hidden="true"></span>
                <span class="isNotLoading" v-if="!loading">Process</span>
                <span class="isLoading" v-if="loading">Loading...</span>
            </button>
            <a href="/avatars.xlsx" download >Скачать отчёт xlsx</a>
            <div v-if="links.length > 1" class="mt-2 mb-2">

            </div>
            <div class="link_div mt-2 url_div"></div>
            <!--<v-data-table-->
                    <!--:headers="headers"-->
                    <!--:items="links"-->
                    <!--:search="search"-->
                    <!--:loading="loading"-->
            <!--&gt;</v-data-table>-->
        </div>
    </div>
</template>

<script>

    export default {
        name: "ExcelParser",
        data: () => ({
            links: [],
            search: '',
            lFileName: 'Choose file',
            loading: false,
            headers: [
                {
                    text: 'vk_id',
                    align: 'start',
                    sortable: false,
                    value: 'vk_id',
                },
                { text: 'avatar_link', value: 'avatar' },
            ],
        }),
        methods: {
            loadFile() {
                this.loading = true;
                let form = new FormData();
                form.append('file', document.getElementById('fileInput').files[0]);
                axios.post('/vkapi/process_avatars', form, {})
                    .then(response => {
                        this.links = response.data.links;
                        this.loading = false;
                    })
            },
            showFile() {
                this.lFileName = event.target.files[0].name;
            }
        },
    }
</script>

<style scoped>
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .parent {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        overflow: auto;
    }

    .block {
        max-width: 1200px;
    }
</style>