<template>
    <div data-app>
        <template>
            <div>
                <!--v-for="(im, index) in imgData"-->
                <!--:key="index"-->
                <LightGallery
                        :images="images"
                        :index="index"
                        :disable-scroll="true"
                        @close="index = null"
                />
                    <div class="gallery-wrapper">
                        <div    class="gallery-img-wrapper"
                                v-for="(im, thumbIndex) in imgData"
                                :key="thumbIndex"
                                @click="index = thumbIndex"
                        >
                            <vuetify-lazy-image :alt="im.title" class="gal_img_ad" :src="'/storage/'+im.image_sm"/>
                        </div>
                    </div>
            </div>
        </template>
    </div>
</template>

<script>
    import VuetifyLazyImage from "vuetify-lazy-image";
    import { LightGallery } from 'vue-light-gallery';

    export default {
        components: {
            VuetifyLazyImage,
            LightGallery,
        },
        data: () => ({
            loading: true,
            visible: false,
            imgData: [],
            index: null,
            images: [
            ],
        }),
        props: ['data'],
        computed: {
        },
        mounted() {

        },
        created() {
            this.imgData = this.data;
            let im =  [];
            $.each(this.imgData, function(i, val) {
                im.push({
                    title: val.title,
                    url: '/storage/'+val.image,
                });
            });
             this.images = im;
        },
        methods: {
        },
    }
</script>
<style lang="scss" scoped>
    .slider-custom {
        margin-top: 73px;
        /*height: 480px;*/
    }
</style>

<style scoped>
    .gallery-wrapper {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .gal_img_ad {
        height: 150px;
    }
    .gal_img_ad:hover {
        cursor: pointer;
        transition: opacity .3ms;
        opacity: 0.8;
    }
    .descriptor {
        padding: 6px;
        bottom: 20%;
        left: 15%;
        position: absolute;
        z-index: 12;
        color: white;
        background: black;
        text-align: left;
    }

    .descriptor-title {
        font-size: 36px !important;
        color: white;
    }

    .descriptor-text {
        font-size: 16px !important;
        color: white;
    }

    .vuetify-lazy-image {
        position: relative;
        filter: blur(10px);
        transition: filter 0.7s;
    }

    .vuetify-lazy-image-loaded {
        filter: blur(0);
    }


@media (max-width: 768px) {
    .descriptor-title {
        font-size: 24px !important;
    }

    .descriptor-text {
        font-size: 12px !important;
    }

    .gallery-wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 420px) {
    .gallery-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

</style>