<template>
    <div data-app>
        <div class="mb-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" style="width:56px">#</th>
                    <th scope="col">Трек</th>
                    <th class="invisible_year" scope="col">Жанр</th>
                    <th class="invisible_year" scope="col">Год</th>
                    <th class="text-right prz" scope="col">Длительность</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,i) in musics" class="first_cell" :id="'track'+i" @click="loadFile(item)">
                    <th scope="row" class="am">{{i+1}}</th>
                    <td class="name_t">
                        <img :src="item.image" class="name_img am" alt='track'>
                        <span class="table_track_name">{{item.title}}</span>
                        <div class="audio_player_ie">
                            <audio :src=item.image preload="none">
                            </audio>
                        </div>
                    </td>
                    <td class="am invisible_year genere2">
                        <ul style="padding: 0px">
                            <li v-for="g in item.genre"
                                :key="g.id">#{{g.genre}}
                            </li>
                        </ul>
                    </td>
                    <td class="am invisible_year">{{item.year}}</td>
                    <td class="am text-right prz">{{item.duration}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="audio_player-wrapper" v-if="this.musics[0]">
            <div class="audio_player">
                <div class="container pt-0 pb-0">
                    <!--play-button-->
                    <div class="controls">
                        <div>
                            <div class="play-btn" @click="wavesurfer.playPause()">
                                <div class="play-button-img-wrapper">
                                <span class="play-button-loader" v-if="isLoading">
                                    <v-progress-circular
                                            :size="50"
                                            :width="6"
                                            indeterminate
                                    ></v-progress-circular>
                                </span>
                                    <span v-if="!isLoading">
                                        <div class="play-button-img" alt='play-button'>
                                        </div>
                                    </span>
                                </div>
                                <img v-if="!isLoading" :src="editedItem.image" class="play-button-cover" alt='play-button-cover'>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="padding-right: 0px;">

                            <div class="track_name_wrap">
                                <i class="fas fa-caret-left text-primary" id="prev_song"
                                   @click="playPrev(editedItem)"></i>
                                <span class="track_name">{{editedItem.title}}</span>
                                <i class="fas fa-caret-right text-primary" id="next_song"
                                   @click="playNext(editedItem)"></i>
                                <div id="waveform-time-indicator">
                                    <span class="time">{{formattedTime}}</span>
                                </div>
                            </div>

                            <!--volume controll-->
                            <div class="volbox"><br/>
                                <i id="vol_icon" class="fas fa-volume-up"></i>
                                <input id="volume" type="range" min="0" max="1" value="1" step="0.1">
                            </div>
                            <!--volume controll-->

                            <div id="waveform"></div>
                            <div v-if="isLoading">
                                <!--<v-progress-circular v-if="isLoading" -->
                                <!--indeterminate-->
                                <!--&gt;</v-progress-circular>-->
                            </div>
                            <div class="genere">
                                <span v-for="g in editedItem.genre"
                                      :key="g.id">#{{g.genre}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import WaveSurfer from "wavesurfer.js";

    let musics = [];

    export default {
        name: "V-art-crud",
        components: {
            VuetifyAudio: () => import('vuetify-audio'),
        },
        props: ['data'],
        data: () => ({
            isLoading: false,
            wavesurfer: null,
            sheet: true,
            file: '',
            search: '',
            formattedTime: '',
            editedIndex: '',
            editedItem: {
                title: '',
                image: '',
                text: '',
                genre: '',
            },
            headers: [
                {
                    text: '#',
                    align: 'start',
                    value: 'index',
                },
                {
                    text: 'Трек',
                    value: 'title',
                },
                {text: 'Жанры', value: 'genres'},
                {text: 'Год', value: 'year'},
                {text: 'Длительность', value: 'duration'},
            ],
            musics: [],
            loading: true,
        }),
        computed: {
            isPlaying() {
                if (!this.wavesurfer) return false;
                return this.wavesurfer.isPlaying();
            }
        },
        created() {
            this.musics = this.data;
        },
         mounted() {
            if (!this.wavesurfer && this.musics[0]) {
                this.createWaveSurfer();
                this.loadFile(this.musics[0]);
            }
        },

        methods: {
            loadFile(item) {
                if(this.isLoading) return;
                this.isLoading = true;
                this.editedIndex = this.musics.indexOf(item);
                $(".table-playing").removeClass();
                $('#track'+this.editedIndex).addClass('table-playing');
                this.editedItem = Object.assign({}, item);
                this.wavesurfer.load(item.track);
                this.isLoading = false;
            },
            playNext(item) {
                if(this.isLoading) return;
                let trackIndex = this.editedIndex;
                if(trackIndex !== this.musics.length-1)
                {
                    trackIndex++;
                }
                else {
                    trackIndex = 0;
                }
                this.loadFile(this.musics[trackIndex]);
            },
            playPrev(item) {
                if(this.isLoading) return;
                let trackIndex = this.editedIndex;
                if(trackIndex > 0)
                {
                    trackIndex--;
                }
                else {
                    trackIndex = this.musics.length-1;
                }
                this.loadFile(this.musics[trackIndex]);
            },
            updateTimer() {
               this.formattedTime = this.secondsToTimestamp(this.wavesurfer.getCurrentTime());
            },
            secondsToTimestamp(seconds){
                seconds = Math.floor(seconds);
                let h = Math.floor(seconds / 3600);
                let m = Math.floor((seconds - (h * 3600)) / 60);
                let s = seconds - (h * 3600) - (m * 60);

                h = h < 10 ? '0' + h : h;
                m = m < 10 ? '0' + m : m;
                s = s < 10 ? '0' + s : s;
                //h + ':'
                return m + ':' + s;
            },
            createWaveSurfer() {
                let wS = WaveSurfer.create({
                    container: "#waveform",
                    waveColor: '#cccccc',
                    progressColor: 'rgba(19, 19, 33, .7)',
                    splitChannels: false,
                    responsive: true,
                    height: 30,
                    barWidth: 0,
                    fillParent: true,
                    forceDecode: false
                });
                wS.on("error", err => {
                    console.error(err);
                    this.isLoading = false;
                });
                wS.on("loading", () => {
                    this.isLoading = true;
                });
                wS.on("ready", () => {
                    this.updateTimer();
                    this.isLoading = false;

                    //запустить плеер по готовности
                    // this.wavesurfer.play();
                });
                wS.on("audioprocess", () => {
                    this.updateTimer();
                    this.isLoading = false;
                });
                wS.on("seek", () => {
                    this.updateTimer();
                    this.isLoading = false;
                });

                let volumeInput = document.querySelector('#volume');
                let onChangeVolume = function (e) {
                    wS.setVolume(e.target.value);
                };
                volumeInput.addEventListener('input', onChangeVolume);
                volumeInput.addEventListener('change', onChangeVolume);

                this.wavesurfer = wS;
            },
        },
    }
</script>

<style scoped>
    .name_img {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .track_name_wrap {
        margin-top: 0;
    }
    .genere {
        position: absolute;
        bottom: 5px;
    }
    .play-btn {
        padding: 0 !important;
        position: relative;
        text-align: center;
        font-size: 40px;
        width: 75px;
        height: 80px;
        border-radius: 0px;
        float: left;
        background-color: white;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .play-btn i {
        align-self: center;
    }
    .audio_player-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .play-button-img-wrapper {
        width: 75px;
        height: 80px;
        padding: 5px;
    }
    .play-button-img {
        width: 65px;
        height: 70px;
        padding: 0;
        margin: 0;
        background: url("/../../../assets/images/icons/pause-play-button.svg");
        background-position-y: center;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 3;
    }
    .play-button-cover {
        overflow: hidden;
        width: 75px;
        height: 80px;
        position: absolute;
        z-index: 1;
    }
    .play-button-cover:hover  {
        cursor: pointer;
        opacity: 0;
        transition: opacity .1s ease-out;
    }

    .play-button-img:hover {
        cursor: pointer;
        transition: opacity .1s ease-out;
        opacity: .7;
    }
    .play-button-loader {
        display: flex;
        justify-content: center;
        padding-top: 9px;
    }
    .table-playing{
        color: #212529;
        background-color: rgba(0,0,0,.075);
    }
    .table_track_name {
        padding-left: 30px;
    }


    @media (max-width: 768px) {
        .table_track_name {
            padding-left: 0;
        }
    }
</style>