<template>
    <div data-app>
        <template>
            <div class="slider-custom">
                <!-- swiper1 -->
                <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
                    <swiper-slide
                            v-for="(im, index) in imgData"
                            :key="index"
                            :class="'slide-'+index"
                    >
                            <div class="descriptor">
                                <div class="descriptor-title">{{im.title}}</div>
                                <div class="descriptor-text">{{im.text}}</div>
                            </div>
                            <vuetify-lazy-image class="swiper-lazy" :alt="im.title" :src="'/storage/'+im.image"/>
                            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </swiper-slide>
                    <div class="swiper-pagination" slot="pagination"></div>
                    <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
                    <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
                </swiper>
                <!-- swiper2 Thumbs -->
                <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs">
                    <swiper-slide
                            v-for="(im, index) in imgData"
                            :key="index"
                            :class="'slide-'+index"
                    >
                        <vuetify-lazy-image class="swiper-lazy" :alt="im.title" :src="'/storage/'+im.image"/>
                    </swiper-slide>
                </swiper>
            </div>
        </template>
    </div>
</template>

<script>
    import VuetifyLazyImage from "vuetify-lazy-image";
    import {Swiper, SwiperSlide, directive} from 'vue-awesome-swiper'
    import 'swiper/css/swiper.css'

    export default {
        components: {
            VuetifyLazyImage,
            Swiper,
            SwiperSlide
        },
        directives: {
            swiper: directive
        },
        data: () => ({
            loading: true,
            visible: false,
            imgData: [],
            swiperOptionTop: {
                loop: true,
                lazy: true,
                loopedSlides: 5, // looped slides should be the same
                spaceBetween: 10,
                pagination: {
                    el: '.swiper-pagination',
                    type: 'progressbar'
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            },
            swiperOptionThumbs: {
                loop: true,
                lazy: true,
                loopedSlides: 5, // looped slides should be the same
                spaceBetween: 10,
                centeredSlides: true,
                slidesPerView: 'auto',
                touchRatio: 0.2,
                slideToClickedSlide: true
            }
        }),
        props: ['data'],
        computed: {
            swiper() {
                return this.$refs.mySwiper.$swiper
            }
        },
        mounted() {
            this.$nextTick(() => {
                const swiperTop = this.$refs.swiperTop.$swiper
                const swiperThumbs = this.$refs.swiperThumbs.$swiper
                swiperTop.controller.control = swiperThumbs
                swiperThumbs.controller.control = swiperTop
            })
        },
        created() {
            this.imgData = this.data;
        },
        methods: {
            loadData() {

            },
        },
    }
</script>
<style lang="scss" scoped>
    .slider-custom {
        margin-top: 73px;
        /*height: 480px;*/
    }
    .swiper {
        .swiper-slide {
            background-size: cover;
            background-position: center;
        }

        &.gallery-top {
            height: 80%;
            width: 100%;
        }
        &.gallery-thumbs {
            height: 20%;
            box-sizing: border-box;
            padding: 20px 0;
        }
        &.gallery-thumbs .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
        }
        &.gallery-thumbs .swiper-slide-active {
            opacity: 1;
        }
    }
</style>

<style scoped>

    .descriptor {
        padding: 6px;
        bottom: 20%;
        left: 15%;
        position: absolute;
        z-index: 12;
        color: white;
        background: black;
        text-align: left;
    }

    .descriptor-title {
        font-size: 36px !important;
        color: white;
    }

    .descriptor-text {
        font-size: 16px !important;
        color: white;
    }

    .vuetify-lazy-image {
        position: relative;
        filter: blur(10px);
        transition: filter 0.7s;
    }

    .vuetify-lazy-image-loaded {
        filter: blur(0);
    }


@media (max-width: 768px) {
    .descriptor-title {
        font-size: 24px !important;
    }

    .descriptor-text {
        font-size: 12px !important;
    }
}

</style>