<template>
    <div data-app>
        <div class="mb-4 card">
            <v-data-table
                    dense
                    :loading="loading"
                    :headers="headers"
                    :search="search"
                    :items="musics"
                    sort-by="calories"
                    class="elevation-0"
            >
                <template v-slot:top>
                    <v-toolbar flat>
                            <v-avatar tile size="60">
                                <img v-if="file.image" style="object-fit: scale-down;" :src="file.image"/>
                                <img v-if="!file.image" style="object-fit: scale-down;" src="/assets/images/avatar/30.jpg"/>
                            </v-avatar>
                            <span class="ml-3">{{file.title ? file.title : "no track"}}</span>
                        <v-spacer></v-spacer>
                        <v-dialog v-model="dialog" max-width="500px">
                            <template v-slot:activator="{ on }">
                                <v-btn text v-on="on">
                                    <i class="fas fa-plus-square mr-2"></i>Новая композиция
                                </v-btn>
                            </template>
                            <v-card>
                                <v-container>
                                    <v-card-title>
                                        <span class="headline">{{ formTitle }}</span>
                                    </v-card-title>
                                    <v-card-text>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-img v-if="editedItem.image" id="prevImg"
                                                       :src="editedItem.image" class="mb-4"></v-img>
                                                <v-text-field v-model="editedItem.title"
                                                              label="Название">
                                                </v-text-field>
                                                <v-autocomplete
                                                        id="genreAC"
                                                        v-model="editedItem.genre"
                                                        value="genre"
                                                        label="Жанр"
                                                        multiple
                                                        item-value="id"
                                                        item-text="genre"
                                                        :items="genres"
                                                        return-object
                                                ></v-autocomplete>
                                                <v-text-field v-model="editedItem.order"
                                                              label="Порядок">
                                                </v-text-field>
                                                <v-text-field v-model="editedItem.year"
                                                              label="Год">
                                                </v-text-field>
                                                <v-textarea
                                                        v-model="editedItem.text"
                                                        label="Описание"
                                                        auto-grow
                                                ></v-textarea>
                                                <div v-if="editedIndex === -1">
                                                    <label for="imgInput">Обложка</label>
                                                    <br>
                                                    <input type="file"
                                                           v-if="editedIndex === -1"
                                                           id="imgInput"
                                                    >
                                                </div>
                                                <br><br>
                                                <div v-if="editedIndex === -1">
                                                    <label for="fileInput">Трек</label>
                                                    <br>
                                                    <input type="file"
                                                           v-if="editedIndex === -1"
                                                           id="fileInput"
                                                           accept="audio/mpeg"
                                                           @change="analyseAudio()"
                                                    >
                                                </div>
                                            </v-col>
                                        </v-row>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                        <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                                    </v-card-actions>
                                </v-container>
                            </v-card>
                        </v-dialog>
                    </v-toolbar>
                    <v-toolbar flat>
                        <vue-audio disabled :file="file.track" />
                    </v-toolbar>
                    <v-toolbar flat color="white">
                        <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                label="Поиск"
                                single-line
                                hide-details
                        ></v-text-field>
                    </v-toolbar>
                </template>
                <template v-slot:item.actions="{ item }">
                    <div class="actions-container">
                        <button class="btn btn-primary mr-2" role="button" @click="file = item">
                            <i class="fas fa-play"></i>
                        </button>
                        <button class="btn btn-primary mr-2" role="button" @click="editItem(item)"
                                aria-pressed="true">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger" role="button" @click="deleteItem(item)">
                            <i class="fas fa-minus-square"></i>
                        </button>
                    </div>
                </template>
                //img
                <template v-slot:item.imagePrev="{item}">
                    <v-avatar tile size="120">
                        <img style="object-fit: scale-down;" :src="item.image"/>
                    </v-avatar>
                </template>
                <template v-slot:item.genres="{item}">
                    <ul style="padding: 0px">
                        <li v-for="g in item.genre"
                            :key="g.id">{{g.genre}}
                        </li>
                    </ul>
                </template>
                //track url
                <template v-slot:item.track="{item}">
                    <div style="max-width: 120px">
                        <small>{{item.track}}</small>
                    </div>
                </template>
                //image url
                <template v-slot:item.image="{item}">
                    <div style="max-width: 120px">
                        <small>{{item.image}}</small>
                    </div>
                </template>
            </v-data-table>
        </div>
    </div>
</template>

<script>
    let audioDuration = 0;

    import VueAudio from 'vue-audio';

    export default {
        name: "V-art-crud",
        components: {
            'vue-audio': VueAudio,
        },
        data: () => ({
            audioDuration: 0,
            sheet: false,
            file: '',
            dialog: false,
            search: '',
            headers: [
                {
                    text: 'Название',
                    align: 'start',
                    sortable: false,
                    value: 'title',
                },
                {text: 'Обложка', value: 'imagePrev'},
                {text: 'Описание', value: 'text'},
                {text: 'Длительность', value: 'duration'},
                {text: 'Жанры', value: 'genres'},
                {text: 'Порядок', value: 'order'},
                // {text: 'Путь(обложки)', value: 'image'},
                // {text: 'Путь(трека)', value: 'track'},
                {text: 'Год', value: 'year'},
                // {text: 'Дата изменения', value: 'updated_at'},
                {text: 'Actions', value: 'actions', sortable: false},
            ],
            musics: [],
            genres: [],
            editedIndex: -1,
            editedItem: {
                title: '',
                image: '',
                text: '',
                genre: '',
            },
            defaultItem: {
                title: '',
                image: '',
                text: '',
                genre: '',
            },
            loading: true,
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Новая композииця' : 'Редактировать комозицию'
            },
        },

        watch: {
            dialog(val) {
                val || this.close()
            },
        },

        created() {
            this.loadData()
        },

        methods: {
            loadData() {
                this.loading = true;
                axios.post('/music/all', {})
                    .then((response) => {
                        this.musics = response.data.musics;
                        this.genres = response.data.genres;
                        this.loading = false;
                    })
            },

            editItem(item) {
                this.editedIndex = this.musics.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },

            deleteItem(item) {
                // console.log(item);
                const index = this.musics.indexOf(item);
                axios.delete('/admin/music/' + item.id)
                    .then((response) => {
                        this.musics.splice(index, 1);
                    });
            },
            analyseAudio(){
                let audio = new Audio(URL.createObjectURL(event.target.files[0]));
                audio.onloadedmetadata = function() {
                    audioDuration = audio.duration;
                };
            },
            close() {
                this.dialog = false;
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1
                })
            },

            save() {
                this.loading = true;
                let form = new FormData();
                form.append('title', this.editedItem.title);
                form.append('order', this.editedItem.order);
                form.append('text', this.editedItem.text);
                form.append('year', this.editedItem.year);
                let genreArr = [];
                $.each(this.editedItem.genre, function (index, value) {
                    genreArr[index] = value.id;
                });
                form.append('genres', genreArr);
                if (this.editedIndex > -1) {
                    form.append('_method', 'PATCH');
                    axios.post('/admin/music/' + this.editedItem.id, form, {})
                        .then((response) => {
                            // Object.assign(this.musics[this.editedIndex], this.editedItem)
                            this.loadData();
                        });
                } else {
                    form.append('image', document.getElementById('imgInput').files[0]);
                    form.append('track', document.getElementById('fileInput').files[0]);
                    form.append('duration', audioDuration);
                    axios.post('/admin/music', form, {})
                        .then((response) => {
                            this.loadData();
                        });
                }
                this.loading = false;
                this.close();
            },
        },
    }
</script>

<style scoped>
    .player-container {

    }
</style>