<template>
    <div class="card mb-4" data-app>
        <v-data-table
                dense
                :loading="loading"
                :headers="headers"
                :search="search"
                :items="categories"
                sort-by="calories"
                class="elevation-0"
        >
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Поиск"
                            single-line
                            hide-details
                    ></v-text-field>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-btn text v-on="on">
                                <i class="fas fa-plus-square mr-2"></i>Новая категория
                            </v-btn>
                        </template>
                        <v-card>
                            <v-container>
                                <v-card-title>
                                    <span class="headline">{{ formTitle }}</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-row>
                                        <v-col cols="12">
                                            <v-text-field v-model="editedItem.category"
                                                          label="Категория"></v-text-field>
                                            <v-textarea v-model="editedItem.text"
                                                        label="Текст">
                                            </v-textarea>
                                            <v-text-field v-model="editedItem.order"
                                                          label="Порядок вывода">
                                            </v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                    <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                                </v-card-actions>
                            </v-container>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <button class="btn btn-primary mr-2" role="button" @click="editItem(item)"
                        aria-pressed="true">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger mt-2 mb-2" role="button" @click="deleteItem(item)">
                    <i class="fas fa-minus-square"></i>
                </button>
            </template>
            //text
            <template v-slot:item.text="{item}">
                <div style="max-width: 380px">
                    {{item.text}}
                </div>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Новая категория' : 'Редактировать категорию'
            },
        },
        watch: {
            dialog(val) {
                val || this.close()
            },
        },
        methods: {
            editItem(item) {
                this.editedIndex = this.categories.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },

            deleteItem(item) {
                const index = this.categories.indexOf(item);
                axios.delete('/admin/dj_category/' + item.id)
                    .then((response) => {
                        this.categories.splice(index, 1);
                    });
            },
            loadData() {
                this.loading = true;
                axios.get('/admin/dj_category', {})
                    .then((response) => {
                        this.categories = response.data.dj_categories;
                        this.loading = false;
                    })
            },
            save() {
                this.loading = true;
                let form = new FormData();
                form.append('category', this.editedItem.category);
                form.append('text', this.editedItem.text);
                form.append('order', this.editedItem.order);
                if (this.editedIndex > -1) {
                    form.append('_method', 'PATCH');
                    axios.post('/admin/dj_category/' + this.editedItem.id, form, {})
                        .then((response) => {
                            this.loadData();
                        });
                } else {
                    axios.post('/admin/dj_category', form, {})
                        .then((response) => {
                            this.loadData();
                        });
                }
                this.loading = false;
                this.close();
            },
            close() {
                this.dialog = false;
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1
                })
            },
        },
        created() {
            this.loadData();
        },
        data() {
            return {
                categories: [],
                formVisible: false,
                loading: true,
                dialog: false,
                search: '',
                headers: [
                    {
                        text: 'Категория',
                        align: 'start',
                        sortable: false,
                        value: 'category',
                    },
                    {text: 'Текст', value: 'text'},
                    {text: 'Порядок вывода', value: 'order'},
                    {text: 'Кол-во фото', value: 'dj_count'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
                editedIndex: -1,
                editedItem: {
                    title: '',
                    text: '',
                    order: '',
                },
            }
        },

    }
</script>
