<template>
    <div>
        <div v-if="loading">
            <div class="mb-4">
                <div class="spinner-border ml-auto text-primary mr-2" role="status" aria-hidden="true">
                </div>
                <strong>Loading...</strong>
            </div>
        </div>
        <div v-if="!loading">
            <div class="progress" style="height: 40px;">
                <div class="progress-bar" role="progressbar" :style="{width:filesProgress + '%'}">
                    {{fileCurrent}}%
                </div>
            </div>

            <hr>

            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="downloadInput" multiple=""
                       @change="fileInputChange">
                <label class="custom-file-label" for="downloadInput">Choose file</label>
            </div>

            <hr>
            <div class="mt-4 mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-center mb-4">Файлы в очереди ({{filesOrder.length}})</h3>
                        <ul class="list-group">
                            <li class="list-group-item" v-for="file in filesOrder">
                                {{file.name}} : {{file.type}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-center mb-4">Загруженые файлы ({{filesFinish.length}})</h3>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Категория</label>
                                </div>
                                <select class="custom-select" name="category_id"
                                        id="category_id">
                                    <option v-for="category in categories" :value="category.id">
                                        {{category.category}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="card mb-4" v-for="(file, k) in filesFinish">
                            <div class="card-header">
                                <h5 class="mb-4">{{file.name}} : {{file.type}}
                                    <span class="float-right" v-bind:class="{ updated: 'text-success' }">
                                        <i class="fas fa-redo-alt mr-2"></i>{{savedImg[k]['updated_at']}}
                                    </span>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <i class="fas fa-save mr-2"></i>
                                    {{savedImg[k]['image']}}
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img v-if="uploadedImgPath" :src="'../../storage/'+uploadedImgPath[k]"
                                             class="rounded prev-img img-fluid" alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <form action="" method="POST">
                                            <div class="form-group">
                                                <label for="title" class="mb-2">Название</label>
                                                <input name="title" class="form-control" :id="'title'+k">
                                            </div>
                                            <div class="form-group">
                                                <label for="text" class="mb-2">Описание</label>
                                                <textarea class="form-control" name="text" :id="'text'+k"
                                                          rows="3"></textarea>
                                            </div>
                                            <!--<div class="form-group">-->
                                                <!--<label for="date" class="mb-2">Дата</label>-->
                                                <!--<textarea class="form-control" name="text" :id="'text'+k"-->
                                                          <!--rows="3"></textarea>-->
                                            <!--</div>-->
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" @click="updateImage(savedImg[k].id,k)"
                                        class="btn btn-primary">
                                    Добавить описание
                                </button>
                                <button type="button" @click="remove(savedImg[k].id,k)" class="btn btn-danger">
                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    export default {
        name: "ArtUploader",
        methods: {
            loadData() {
                this.loading = true;
                axios.get('/admin/dj_category', {})
                    .then((response) => {
                        this.categories = response.data.dj_categories;
                        this.loading = false;
                    })
            },
            async fileInputChange() {
                let files = Array.from(event.target.files);
                this.filesOrder = files.slice();
                for (let item of files) {
                    await this.uploadFile(item);
                }
            },
            updateImage(id,k) {
                let form = new FormData();
                form.append('title', $('#title' + k).val());
                form.append('text', $('#text' + k).val());
                let catId = $('#category_id').val();
                if(catId) {
                    form.append('category_id', catId);
                }
                form.append('_method', 'PATCH');

                axios.post('/admin/dj/' + id, form, {})
                    .then(response => {
                        this.savedImg[k]['updated_at'] = response.data.updated_at;
                    })
            },
            remove(id,k) {
                axios.delete('/admin/dj/'+id)
                    .then((response) => {
                        this.filesFinish.splice(k, 1) ;
                        this.savedImg.splice(k, 1);
                        this.uploadedImgPath.splice(k, 1);
                    });
            },
            async uploadFile(item) {
                let form = new FormData();
                form.append('image', item);
                let catId = $('#category_id').val();
                if(catId) {
                    form.append('category_id', catId);
                }

                await axios.post('/admin/dj', form, {
                    onUploadProgress: (itemUpload) => {
                        this.filesProgress = Math.round((itemUpload.loaded / itemUpload.total) * 100);
                        this.fileCurrent = item.name + '' + this.fileProgress;
                    }
                })
                    .then(response => {
                        if (response.data.path) {
                            this.uploadedImgPath.push(response.data.path);
                        }
                        if (response.data.path) {
                            this.savedImg.push(response.data.new);
                        }
                        this.fileProgress = 0;
                        this.fileCurrent = '';
                        this.filesFinish.push(item);
                        this.filesOrder.splice(item, 1);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
        },
        created() {
            this.loadData();
        },
        data() {
            return {
                categories: [],
                loading: true,
                filesOrder: [],
                filesFinish: [],
                filesProgress: 0,
                fileCurrent: '',
                showModal: false,
                uploadedImgPath: [],
                savedImg: [],
                currentFilename: '',
                editThisImage: false,
            }
        },
    }
</script>

<style scoped>

</style>


<!--//очистка превью контенера-->
<!--let outputSpan = document.getElementById('output');-->
<!--outputSpan.innerHTML = "";-->
<!--//-->
<!--let reader = new FileReader();-->
<!--// Closure to capture the file information.-->
<!--reader.onload = (function (theFile) {-->
<!--return function (e) {-->
<!--// Render thumbnail.-->
<!--var span = document.createElement('span');-->
<!--span.innerHTML = ['<img class="thumb img-fluid" title="', escape(theFile.name), '" src="', e.target.result, '" />'].join('');-->
<!--outputSpan.insertBefore(span, null);-->
<!--};-->
<!--})(item);-->
<!--// Read in the image file as a data URL.-->
<!--reader.readAsDataURL(item);-->
<!--this.currentFilename = item.name;-->

<!--$('#staticBackdrop').modal('show');-->