<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-title card-header">#Хештеги ({{hashtags.length}})</h5>
                <ul class="list-group list-group-flush">
                    <li v-if="loading" class="list-group-item">
                        <div class="d-flex align-items-center">
                            <strong>Loading...</strong>
                            <div class="spinner-border ml-auto text-primary" role="status" aria-hidden="true"></div>
                        </div>
                    </li>
                    <li class="list-group-item" v-for="hashtag in hashtags">
                        <span class="badge badge-primary badge-pill mr-4">
                                {{hashtag.article_count}}
                            </span>
                        {{hashtag.hashtag}}
                        <a href="#" @click="remove(hashtag.id)" class="btn btn-danger float-right">
                            <i class="fas fa-minus-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-primary mr-2" v-if="!formVisible" @click="showForm()">
                    <i class="fas fa-plus-square mr-2"></i>
                    Добавить хештег
                </button>
                <form class="form-inline" v-if="formVisible" id="hashtagForm" @submit.prevent="save()">
                    <div class="form-group mr-4">
                        <label for="ic" class="sr-only">Хештег</label>
                        <input type="text" name="hashtag" class="form-control" id="ic" placeholder="Хештег">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2" v-on:submit="save()">Добавить</button>
                    <button class="btn btn-primary" @click="showForm()">Отмена</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        methods: {
            showForm() {
                this.formVisible == false ? this.formVisible = true : this.formVisible = false;
            },
            loadData() {
                this.loading = true;
                axios.get('/admin/hashtag', {})
                    .then((response) => {
                        this.hashtags = response.data.hashtags;
                        this.loading = false;
                    })
            },
            save() {
                let formData = new FormData();
                //document.forms.namedItem("hashtagForm")
                formData.append('hashtag','#'+$("input[name='hashtag']").val());
                axios.post('/admin/hashtag', formData, {})
                    .then((response) => {
                        this.loadData();
                    });
            },
            remove(id) {
                axios.delete('/admin/hashtag/'+id)
                    .then((response) => {
                        location.reload();
                    });
            }
        },
        created() {
            this.loadData();
        },
        data() {
            return {
                hashtags: [],
                formVisible: false,
                loading: true,
            }
        },

    }
</script>
