<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-title card-header">#Добавить хештеги ({{hashtags.length}})</h5>

                <li class="list-group-item d-flex">
                    <div class="custom-control custom-checkbox" v-for="hashtag in hashtags">
                        <input v-model="selected" type="checkbox" :value=hashtag.hashtag  class="custom-control-input" :id=hashtag.hashtag>
                        <label class="custom-control-label mr-2" :for=hashtag.hashtag>{{hashtag.hashtag}}</label>
                    </div>
                </li>
                <!--@click="addToList(hashtag.id)"  class="badge badge-secondary mr-2" -->
                <li class="list-group-item d-flex">
                    <span>Хештеги: <span v-for="item in selected">
                        <span class="badge badge-pill badge-primary mr-2">{{ item }} </span>
                        </span>
                    </span>
                    <!--<a v-for="hashtag in hashtags" v-model="selected" href="#" @click="addToList(hashtag.id)" class="badge badge-secondary mr-2">-->
                    <!--<i class="fas fa-plus-square mr-2"></i>-->
                    <!--{{hashtag.hashtag}}-->
                    <!--</a>-->
                </li>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        methods: {
            showForm() {
                this.formVisible == false ? this.formVisible = true : this.formVisible = false;
            },
            loadData() {
                this.loading = true;
                axios.get('/admin/hashtag', {})
                    .then((response) => {
                        this.hashtags = response.data.hashtags;
                        this.loading = false;
                    })
            },
        },
        created() {
            this.loadData();
        },
        data() {
            return {
                hashtags: [],
                formVisible: false,
                loading: true,
                selected: [],
            }
        },

    }
</script>
